* {
  box-sizing: border-box;
}

body {
  font-family: Karla, Arial, Helvetica, sans-serif;
  color: #293264;
  padding: 0;
  margin: 0;
}
/*Height set to 100vh so that my blob images can get to the corners*/
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.blob1 {
  width: 30%;
  height: 30%;
  align-self: flex-end;
}

.blob2 {
  width: 30%;
  height: 30%;
  align-self: flex-start;
}
/*Center container for main page*/
.main-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-center h1 {
  margin-bottom: -5px;
  font-size: 3rem;
}

.main-center p {
  font-size: 1.5rem;
  font-weight: 500;
}

.main-center button {
  height: 50px;
  width: 200px;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #4d5b9e;
}

.main-center button:active {
  background-color: black;
}

.fade-in-btn {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*End main*/

/*Game begin*/

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
}

.question-container {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dbdef0;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.button-container button {
  white-space: normal !important;
  word-wrap: break-word;
  min-height: 35px;
  max-height: 70px;
  min-width: 100px;
  max-width: 200px;
  background-color: white;
  border: 1px solid #4d5b9e;
  border-radius: 12px;
}

.check-answer-btn {
  align-self: center;
  margin-top: 20px;
  height: 50px;
  width: 200px;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #4d5b9e;
}

.play-again-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.play-again-container span {
  color: #293264;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -1px;
}

.play-again-container button {
  height: 50px;
  width: 200px;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #4d5b9e;
}
/*Styling for selected buttons*/
.selected-btn {
  background-color: #d6dbf5 !important;
}
/*Game End*/

/*Media queries to help fix phone formatting issues*/
@media screen and (max-width: 550px) {
  .question-container h2 {
    font-size: 1rem;
  }

  .question-container button {
    max-width: 100px;
    min-width: 60px;
    font-size: 0.5rem;
  }

  .game {
    margin-top: 0px;
  }

  .app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
